name: Deployment

on:
  push:
    branches:
      - main      
  workflow_dispatch:  # Allows manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Configure AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1   # change to your region

      # 3. Sync files to S3
      - name: Sync files to S3
        run: |
          aws s3 sync . s3://my-first-bucket-17071996/ \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --delete

      # 4. (Optional) Invalidate CloudFront cache
      # - name: Invalidate CloudFront
      #   run: |
      #     aws cloudfront create-invalidation \
      #       --distribution-id <CLOUDFRONT_ID> \
      #       --paths "/*"

